/* Panel */

.Panel {
  display: flex;
  font-family: 'Roboto Regular';
  justify-content: center;
  max-width: 102.4rem;
  margin: 5em auto;
  color: rgb(243, 243, 243);
}

.background {
  background:rgba(32, 32, 41, 0.8);
  box-shadow: 8px 8px 20px 2px rgba(34, 34, 42, 0.6);
}

/* TaskPanel */

.TaskPanel {
  flex: 1;
  margin: 1em;
}

.TaskPanel:first-child {
  margin-left:0;
}

.TaskPanel:last-child {
  margin-right:0;
}

.TaskPanel__title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  padding: .75em;
  border-bottom: 1px solid #545353
}

.TaskPanel__completed {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.4em .4em;
}

.TaskPanel__completed--neon-blue {
  color: #75c3e6;
}

.TaskPanel__completed--neon-green {
  color: #39ff14;
}

.TaskPanel__completed--neon-orange {
  color: #ff9c0b;
}

.TaskPanel__completed--neon-pink {
  color: #ff0bcf;
}


/* Task list */
.TaskList {
  font-size: 1.8rem;
  font-family: 'Roboto Thin';
  font-weight: normal;
  width:100%;
}

.TaskList a {
  text-decoration: none;
  color: #75c3e6;
}

.TaskList__title {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #545353;
}

.TaskList__head {
  font-weight: bold;
  color:#ff0bcf;
  display:flex;
  justify-content: space-around;
  font-size:2rem;
  padding:1.45em 0;
}

.TaskList__body {
  min-height: 10rem;
}

.Task {
  display:flex;
  justify-content: space-around;
  padding: 1em;
}

@media only screen and (max-width:1300px) {
  .content--main {
    margin: 0 5em;
  }
}
