/* Panel */

.Panel {
  display: flex;
  font-family: 'Roboto Regular';
  justify-content: center;
  max-width: 102.4rem;
  margin: 5em auto;
  color: rgb(243, 243, 243);
}

.Panel--background {
  background:rgba(32, 32, 41, 0.8);
}

/* TaskPanel */

.TaskPanel {
  background:rgba(32, 32, 41, 0.7);
  flex: 1;
  margin: 1em;
}

.TaskPanel__title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  padding: .75em;
  border-bottom: 1px solid silver;
}

.TaskPanel__completed {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.4em .4em;
}

.TaskPanel__completed--neon-blue {
  color: #75c3e6;
}

.TaskPanel__completed--neon-green {
  color: #39ff14;
}

/* Task list */

.TaskList__title h1 {
  font-size: 2rem;
  padding: 1em 0;
}

.Task__title {
  font-size: 3rem;
}

.Task__title--uppcase {
  text-transform: uppercase;
}


