/* Panel */

.Panel {
  display: flex;
  font-family: 'Roboto Regular';
  justify-content: center;
  max-width: 102.4rem;
  margin: 5em auto;
  color: rgb(243, 243, 243);
}

.background {
  background:rgba(32, 32, 41, 0.8);
  box-shadow: 8px 8px 20px 2px rgba(34, 34, 42, 0.6);
}

/* TaskPanel */

.TaskPanel {
  flex: 1;
  margin: 1em;
}

.TaskPanel:first-child {
  margin-left:0;
}

.TaskPanel:last-child {
  margin-right:0;
}

.TaskPanel__title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  padding: .75em;
  border-bottom: 1px solid #545353
}

.TaskPanel__completed {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.4em .4em;
}

.TaskPanel__completed--neon-blue {
  color: #75c3e6;
}

.TaskPanel__completed--neon-green {
  color: #39ff14;
}

/* Task list */

.TaskList__title h1 {
  font-size: 2rem;
  padding: 1em 0;
}

.Task__title {
  font-size: 3rem;
}

.Task__title--uppcase {
  text-transform: uppercase;
}

@media only screen and (max-width:1300px) {
  .content--main {
    margin: 0 5em;
  }
}
