.Tasks {
  display: flex;
  font-family: 'Roboto Regular';
  margin-top: 5em auto;
  justify-content: center;
  max-width: 102.4rem;
}

.TasksPanel {
  background: #20202a;
  color: rgb(243, 243, 243);
  flex: 1;
  margin: 1em;
}


.TasksPanel__title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  padding: .75em;
  border-bottom: 1px solid silver;
}

.TasksPanel__completed {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.4em .4em;
}