/*
  Typography
*/
@font-face {
  font-family: 'Roboto Thin';
  src: local('Roboto Thin'), url('./fonts/Roboto-Thin.ttf') format('truetype');
}

/*
  Utility file for all of the app css
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.App {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  background: #1a191f;
  width: 100%;
}